.formContainer {
  display: flex;
  height: 20%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.096), 0 4px 6px -4px rgb(0, 0, 0, 0.096);
  z-index: 1;
}

.formFill {
  /* width: 24rem; */
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.inputContainer {
  display: flex;
  margin: 0 1rem;
  width: 100%;
}

.input {
  flex: 1;
  outline: 0;
}

.formLabelBar {
  flex: 1;
  margin-top:2%;
}