.todoItemContainer {
  display: flex;
  justify-content: center;
}

.todoItemBox {
  position: relative;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid rgb(107, 114, 128, 0.096);
}

.todoItemFill {
  background-color: white;
  padding-left: 2rem; /* 32px */
  padding-right: 2rem; /* 32px */
  padding-top: 2rem; /* 32px */
  padding-bottom: 1.5rem; /* 24px */
  color: rgb(107 114 128);
  position: relative;
  display: flex;
  flex-direction: row;
  /* translated from tailwind: bg-white px-8 pt-8 pb-6 rounded-md text-gray-500 shadow-lg */
}

.iconContainer {
  position: absolute;
  display: flex;
  top: 1.25rem; /* 20px */
  right: 0.75rem;
  padding: 0.75rem; /* 12px */
  margin-left: 0.5rem; /* 8px */
}

.checkbox {
  width: 1rem;
  height: 1rem;
}

.dropDownMenu {
  position: absolute;
  right: 5%;
  top:25%;
  height: 100%;
  z-index: 2;
}

.labelBar {
  margin-left: 2rem;
  z-index: 2;
  min-width: 25rem;
}