.optionsContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 4rem;
  border-top: 1px solid rgb(107, 114, 128, 0.096);
}

.filterBar {
  margin: auto;
}

.deleteContainer {
  position: absolute;
  right: 5%;
  top: 25%;
  height: 100%;
}

.icon {
  color: rgb(239 68 68);
  cursor: pointer;
}

.loginButton {
  position: absolute;
  left: 5%;
  top: 25%;
  height: 100%;
  color: grey;
}

.loginButton:hover {
  cursor: pointer;
}